.rounded-table {
  font-family: "Open Sans", sans-serif;
  display: flex;
  width: fit-content;
  padding: .5em;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid black;
  border-radius: .375rem;
  background-color: #fff;
  background-clip: border-box;
}
